<div ng-include src=" '/views/dialog/video_player.html' "> </div>

<div class="ui segment" ng-class="{ 'animated fadeInRight' : true}"> 	<!-- COLUMNNNNNNNNNNNNNNNNNNNNNNNNNNNN -->
	<div class="ui form">
		<div class="ui two fields">

			<div class="field">
				<label><i class="cart icon"></i> Product Name</label>
				<input type="text" placeholder="Name" class="ko-input" ng-model="currentProduct.name">
			</div>

			<div class="field">
				<label><i class="key icon"></i> Product ID</label>
				<input type="text" placeholder="ID" ng-model="currentProduct.productId">
			</div>
		</div>

		<div class="ui two fields">
			<div class="field">
				<label for=""><i class="bookmark icon"></i> Brand</label>
				<input class="ko-price" type="text" ng-model="currentProduct.brand"/>					
			</div>
			<div class="field">
				<label for=""><i class="empty bookmark icon"></i> Model</label>
				<input class="ko-price" type="text" ng-model="currentProduct.model"/>
			</div>
		</div>

		<div class="ui four fields">

			<div class="field">
				<label for=""><i class="dollar icon black"></i>Price</label>
				<input class="ko-price" type="number" onkeyup="this.value=this.value.replace(/[^\d]/,'')" ng-model="currentProduct.primaryPrice"/>
			</div>

			<div class="field">
				<label for=""><i class="dollar icon black"></i>Promotion</label>
				<input class="ko-price" type="number" onkeyup="this.value=this.value.replace(/[^\d]/,'')" ng-model="currentProduct.promotionPrice">
			</div>

			<div class="field">
				<label for=""><i class="dollar icon black"></i>Member</label>
				<input class="ko-price" type="number" onkeyup="this.value=this.value.replace(/[^\d]/,'')" ng-model="currentProduct.memberPrice">
			</div>

			<div class="field">

			</div>
		</div>


		<div class="field">
			<label><i class="info letter icon"></i> Description</label> 
			<textarea style="height:20px;" ng-model="currentProduct.description"></textarea>
		</div>

		<div class="ui field">

			<label><i class="info empty star icon"></i>  Highlight / Promotion </label>

			<div class="ui  segment">

				<a style="text-transform:nonex;" class="ui mini button" ng-click="currentProduct.highlight = !currentProduct.highlight" ng-class="{ orange : currentProduct.highlight }">
					<i class="ui empty thumbs up outline icon" ></i>  Hightlight
				</a>
				<a style="text-transform:nonex;" class="ui mini button" ng-click="currentProduct.promotion = !currentProduct.promotion" ng-class="{ orange : currentProduct.promotion }">
					<i class="ui empty checkmark sign icon" ></i>  Promotion
				</a>

			</div>
		</div>


		<div class="field">  <!-- UPLOAD -->
			<label><i class="photo icon"></i> Images</label>
			<div class="ui segment">

				<div class="mini ui button">
					<div class="fileupload">
						<i class="icon cloud upload"></i>
						<span>Upload</span>
						<!-- <input name="filesToUpload[]" id="filesToUpload" type="file" multiple="" class="upload" /> -->
						<input type="file" ng-file-select="onFileSelect($files)" multiple class="upload" accept='image/*'>
					</div>
				</div> <!-- update -->

				<div class="ui mini button" ng-click="showImageModal()" ng-if="currentProduct.$images.length > 0">
					<i class="edit icon" ></i>Detail
				</div> <!-- detail -->

				<div class="ui button mini" ng-click="removeImage(currentPicture)" ng-show="currentPicture.identifier != null && currentProduct.$images.length > 0">
					<i class="ui remove icon"></i>
					<span>Remove</span>
				</div>

				<div class="field"></div>
				<a class="ui small images" style="display:inline-block" href="">
					<img class="rounded ui image " class="animated fadeInDown"  ng-repeat="x in currentProduct.$images"  ng-src="{{x.$thumbnail}}" ng-show="currentProduct.$images.length > 0" ng-click="openPicture(x)" ng-class="{ 'highlight' : x == currentPicture }">
				</a>
			</div>
		</div> <!-- UPLOAD -->


		<div class="field">  <!-- UPLOAD VIDEO-->
			<label><i class="video icon"></i> Videos</label>
			<div class="ui segment">

				<div class="mini ui button">
					<div class="fileupload">
						<i class="icon cloud upload"></i>
						<span>Upload</span>
						<!-- <input name="filesToUpload[]" id="filesToUpload" type="file" multiple="" class="upload" /> -->
						<input type="file" ng-file-select="onVideoSelect($files)" multiple class="upload" accept='video/*'>
					</div>
				</div> <!-- update -->

				<div class="ui button mini" ng-click="removeVideo(currentVideo)" ng-show="currentVideo.identifier != null && currentProduct.$videos.length > 0">
					<i class="ui remove icon"></i>
					<span>Remove</span>
				</div>

				<div class="field"></div>
				<span ng-repeat="video in currentProduct.$videos">
					<a class="ui green mini label animated fadeInDown" style="text-transform:none;" ng-class="{ 'highlight' : video == currentVideo }" ng-click="openVideo(video)">
						<i class="ui icon video"></i>
						{{video.title}}

						<!-- <i class="ui label circular"> <i class="ui icon play"></i></i> -->
					</a>
				</span>

			
				<div class="field">
					<div class="ui button mini animated fadeIn" ng-click="showVideoModal()" ng-if="currentVideo.identifier" style="margin-top:20px">
						<i class="ui play icon animated rotateIn"></i> Play {{currentVideo.title}}
					</div>
				</div>
			

			</div>
		</div> <!-- UPLOAD VIDEO-->


	</div>
	<div class="field"> <!-- SAVE / UPDATE -->
		<div class=" ui button mini" ng-click="save(currentProduct)" ng-show="valid()">
			<i class="cart icon"></i> 
			<span ng-if="true">Save</span>
		</div>
	</div> <!-- SAVE  -->



	</div> <!-- END COLUMNNNNNNNNNNNNNNNNNNNNNNNNNNNN -->