	<div class="ui raised segment"> 	<!-- COLUMNNNNNNNNNNNNNNNNNNNNNNNNNNNN -->
		<div class="ui form">
			<div class="ui two fields">

				<div class="field">
					<label><i class="cart icon"></i> Product Name</label>
					<input type="text" placeholder="Name" class="ko-input" ng-model="currentProduct.name">
				</div>

				<div class="field">
					<label><i class="key icon"></i> Product ID</label>
					<input type="text" placeholder="ID" ng-model="currentProduct.productId">
				</div>
			</div>

			<div class="ui two fields">
				<div class="field">
					<label for=""><i class="bookmark icon"></i> Brand</label>
					<input class="ko-price" type="text" ng-model="currentProduct.brand"/>					
				</div>
				<div class="field">
					<label for=""><i class="empty bookmark icon"></i> Model</label>
					<input class="ko-price" type="text" ng-model="currentProduct.model"/>
				</div>
			</div>
			<div class="ui four fields">

				<div class="field">
					<label for=""><i class="dollar icon black"></i>Price</label>
					<input class="ko-price" type="number" onkeyup="this.value=this.value.replace(/[^\d]/,'')" ng-model="currentProduct.primaryPrice"/>
				</div>

				<div class="field">
					<label for=""><i class="dollar icon black"></i>Promotion</label>
					<input class="ko-price" type="number" onkeyup="this.value=this.value.replace(/[^\d]/,'')" ng-model="currentProduct.promotionPrice">
				</div>

				<div class="field">
					<label for=""><i class="dollar icon black"></i>Member</label>
					<input class="ko-price" type="number" onkeyup="this.value=this.value.replace(/[^\d]/,'')" ng-model="currentProduct.memberPrice">
				</div>

				<div class="field">

				</div>
			</div>


			<div class="field">
				<label><i class="info letter icon"></i> Description</label> 
				<textarea style="height:20px;" ng-model="currentProduct.description"></textarea>
			</div>

			<div class="field">  <!-- UPLOAD -->
				<label><i class="photo icon"></i> Images</label>
				<div class="ui segment">
					<div class="mini ui button">
						<div class="fileupload">
							<i class="icon cloud upload"></i>
							<span>Upload</span>
							<!-- <input name="filesToUpload[]" id="filesToUpload" type="file" multiple="" class="upload" /> -->
							<input type="file" ng-file-select="onFileSelect($files)" multiple class="upload">
						</div>
					</div> <!-- update -->

					<div class="ui mini button" ng-click="showImageModal()" > <i class="edit icon" ></i>Detail</div> <!-- detail -->

					<div class="field"></div>
					<div class="ui small images" style="display:inline-block">
						<img class="rounded ui image"  ng-repeat="x in currentProduct.$images"  ng-src="{{x.$thumbnail}}" ng-show="currentProduct.$images.length > 0">
					</div>
				</div>
			</div> <!-- UPLOAD -->
			
		</div>


		<div class="field"> <!-- SAVE / UPDATE -->
			<div class=" ui button mini" ng-click="save(currentProduct)" ng-show="valid()">
				<i class="cart icon"></i> 
				<span ng-if="true">Save</span>
			</div>
		</div> <!-- SAVE  -->




	</div> <!-- END COLUMNNNNNNNNNNNNNNNNNNNNNNNNNNNN -->