<div class="ui two column grid">
	<div class="column">

		<div class="ui fluid form segment">

			<div class="field">
				<label for="">Title</label>
				<input type="text" class="type">
			</div>

			<div class="field">
				<label for="">Telephone</label>
				<input type="text" class="type">
			</div>

			<div class="field">
				<div class="ui button mini">
					<i class="reorder icon"></i> Save
				</div>
			</div>

		</div>
	</div> <!-- first column -->

	<div class="column">
		<div class="ui fluid form segment">

			<div class="field">

				<label for="">Edit Branch</label>

				<div class="ui action input">
					<input type="text" placeholder="Search...">
					<div class="ui icon button"><i class="search icon"></i></div>
				</div>	

				<div class="ui segment">
					<div class="ko-tag ui mini button active">
						<i class="edit icon"></i> Feedback
					</div>
					<div class="ko-tag ui mini button">
						<i class="edit icon"></i> Style 
					</div>
					<div class="ko-tag ui mini button">
						<i class="edit icon"></i> Pure 
					</div>
					<div class="ko-tag ui mini button">
						<i class="edit icon"></i> How 
					</div>
					<div class="ko-tag ui mini button active">
						<i class="edit icon"></i> Genius
					</div>
					<div class="ko-tag ui mini button">
						<i class="edit icon"></i> Carrier
					</div>
					<div class="ko-tag ui mini button">
						<i class="edit icon"></i> Category A
					</div>
					<div class="ko-tag ui mini button">
						<i class="edit icon"></i> Different Long Name
					</div>
				</div>
			</div> <!-- parents -->

		</div>

	</div> <!-- second column -->
</div> <!--grid-->

