<div class="fragment {{transitionState}}">

	<div class="ui form">
		<div div="ui two field">
			<div class="field">
				<div class="ui icon buttons">
					<div class="ui button" ng-class="{ active : search }" ng-click="openSearch();openList();">
						<i class="search icon" ></i>
					</div>
<!-- 					<div class="ui button" ng-class="{ active : list }" ng-click="openList()">
						<i class="play icon"></i>
					</div>
					<div class="ui button">
						<i class="shuffle icon"></i>
					</div> -->
				</div>
			</div>

			<div class="field" ng-show="search">
				<div class="ui action input">
					<input type="text" placeholder="Search...">
					<div class="ui icon button"><i class="search icon"></i></div>
				</div>				
			</div> <!--search -->
		</div>
	</div> <!-- tool bar -->

	<div class="ui form" ng-show="!search">

		<div class="ui four fields">

			<div class="field">
				<label>Product name</label>
				<input type="text" placeholder="First Name" class="ko-input">
			</div>

			<div class="field">
				<label>Product ID</label>
				<input type="text" placeholder="Middle Name">
			</div>

			<div class=" field">
				<label for="">Hello</label>
				<input type="text" placeholder="Price">
			</div>

			<div class="field">
				<label>Primary Price</label>
				<input type="text" placeholder="Price">
			</div>
		</div>

		<div class="ui four fields">

			<div class="field">
				<label>Price C</label>
				<input type="text" placeholder="First Name" class="m input">
			</div>

			<div class="field">
				<label>Price B</label>
				<input type="text" placeholder="Middle Name">
			</div>

			<div class="field">
				<label>Price D</label>
				<input type="text" placeholder="Last Name">
			</div>

			<div class="field">
				<label>Price E</label>
				<input type="text" placeholder="Price">
			</div>
		</div>

		<div class="ui one fields">
			<div class="field">
				<label>Color</label>
				<div class="ui labeled icon menu">
					<a class="blue item active">
						<i class="adjust icon"></i> Blue
					</a>

					<a class="green item active">
						<i class="adjust icon"></i> Green
					</a>
					<a class="item active" style="color:black">
						<i class="adjust icon"></i> Black
					</a>
					<a class="item active" style="color:gray">
						<i class="adjust icon"></i> White
					</a>
					<a class="item active" style="color:orange">
						<i class="adjust icon"></i> Orange
					</a>

					<a class="red item active">
						<i class="adjust icon"></i> Red
					</a>

				</div>
			</div>
		</div>

		<div call="ui one fields">
			<div class="field">
				<label>Categories</label>
				<div class="ui  segment">

					<div class="ko-checkbox">
						<input type="checkbox" id="abc"/> <label for="abc">Languages</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Download</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Design</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">ภาษาไทย</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Group A</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Group B</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Group C</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">ภาษาไทย</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox" id="abc"/> <label for="abc">Languages</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Download</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Design</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">ภาษาไทย</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Group A</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Group B</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Group C</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">ภาษาไทย</label>
					</div>

					<div class="ko-checkbox">
						<input type="checkbox" id="abc"/> <label for="abc">Languages</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Download</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Design</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">ภาษาไทย</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Group A</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Group B</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Group C</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">ภาษาไทย</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox" id="abc"/> <label for="abc">Languages</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Download</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Design</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">ภาษาไทย</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Group A</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Group B</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">Group C</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox"/> <label for="">ภาษาไทย</label>
					</div>
				</div>
			</div>
		</div>

		<div call="ui one fields">
			<div class="field">
				<label>Branchs</label>
				<div class="ui  segment">

					<div class="ko-checkbox">
						<input type="checkbox" id="north"/> <label for="north">North</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox" id="east"/> <label for="east">East</label>
					</div>
					<div class="ko-checkbox">
						<input type="checkbox" id="south"/> <label for="south">South</label>
					</div>
				</div>
			</div>
		</div>

		<div class="ui two fields">
			<div class="field">
				<label>Description</label>
				<textarea style="height:20px;"></textarea>
			</div>
		</div> <!-- Description -->


		<div class="ui two fields">
			<div class="field">
				<label>Images</label>

				<div class="ui segment">
					<div class="mini circular ui button orange">

						<div class="fileupload">
							<i class="icon photo"></i>
							<span>Upload</span>
							<input name="filesToUpload[]" id="filesToUpload" type="file" multiple="" class="upload" />
						</div>
					</div>
				</div>
			</div>
		</div> <!-- Upload -->

		<div class="ui one field">
			<div class="ui icon small button">
				<i class="cart icon"></i> Save
			</div>
		</div> <!-- Save -->

	</div> <!-- from -->
</div> <!-- segment -->


<div class="ui primary" ng-show="list">
	<table class="ui five column table segment">
		<thead>
			<tr>
				<th>Name</th>
				<th>Status</th>
				<th>Age</th>
				<th>Gender</th>
				<th>Notes</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>John</td>
				<td>Approved</td>
				<td>22</td>
				<td>Male</td>
				<td>None</td>
			</tr>
			<tr>
				<td>Jamie</td>
				<td>Approved</td>
				<td>32</td>
				<td>Male</td>
				<td>Requires call</td>
			</tr>
			<tr>
				<td>Jill</td>
				<td>Denied</td>
				<td>22</td>
				<td>Female</td>
				<td>None</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>3 People</th>
				<th>2 Approved</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</tfoot>
	</table> 
</div>