
<div class="column">
  <div class="ui raised segment">
    <a class="ko-tag ui label" ng-repeat="category in categories | filter:allCategoryFilter" ng-click="selectProductCategory(category)" ng-class="{ green : category.$selectedFilter}">
      <i class="tags icon"></i> {{$index+1}}. {{category.title}}
    </a>  
  </div>

  <div class="column">
    <table ng-table="tableParams" template-pagination="custom/pager" class="ui padded table segment">
      <thead style="font-size:80%;color:gray">
        <tr>

          <th style="width:20px;">
            <label for="">
              <i class="ui bolt icon"></i>
            </label>
          </th>

          <th>
            <label for="">Product</label>
          </th>

          <th>
            <label for="">ID</label>
          </th>

          <th>
            <label for="">Brand</label>
          </th>
          <th>
            <label for="">Model</label>
          </th>


          <th>
            <label for="">Images</label>
          </th>

          <th class="ko-price">
            <label for="">Price </label>
          </th>

          <th class="ko-price">
            <label for="">Promotion</label>
          </th>

          <th class="">
            <label for="">Member</label>
          </th>

          <th class="ko-price">
            <label for="">Edit</label>
          </th>

        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="product in $data | filter:productFilter" style="font-size:80%">

          <td class="ko-index">
            <span> {{$index + 1}}</span>
          </td>

          <td>
            <i class="ui mini button" ng-if="!product.$edit"> <i class="archive icon"></i> </i>
            <span ng-if="!product.$edit">{{product.name}}</span>
            <div ng-if="product.$edit" class="ui form"> <input type="text" ng-model="product.name" /> </div>
          </td>

          <td>
            <span ng-if="!product.$edit">{{product.productId}} </span>
            <div ng-if="product.$edit" class="ui form"> <input type="text" ng-model="product.productId" /> </div>
          </td>

          <td>
            <span ng-if="!product.$edit">{{product.brand}} </span>
            <div ng-if="product.$edit" class="ui form"> <input type="text" ng-model="product.brand" /> </div>
          </td>

          <td>
            <span ng-if="!product.$edit">{{product.model}} </span>
            <div ng-if="product.$edit" class="ui form"> <input type="text" ng-model="product.model" /> </div>
          </td>


          <td>
            <div ng-if="!product.$edit">

              <i class="ui mini button" ng-click="setActiveTab('image'); selectProduct(product);"> <i class="add icon" ></i> </i>

<!--               <div class="form field" ng-click="selectProduct(product);" >

                <div class="fileupload ui mi label">
                  <input type="file" ng-file-select="onFileSelect($files)" multiple class="upload">
                  <i class="ko-upload add icon"></i> 
                </div>
              </div>  --><!-- update -->


              <div class="ui mini images" style="display:inline-block">
                <img class="rounded  ui image"  ng-repeat="x in product.$images"  ng-src="{{x.$url}}" ng-show="product.$images.length > -1">
              </div>

            </div>
          </td>

          <td class="ko-price">
            <div class="ui label" ng-if="!product.$edit"> <a href="" >{{product.primaryPrice}}</a> </div>
            <div ng-if="product.$edit" class="ui form"> <input type="number" ng-model="product.primaryPrice" /> </div>
          </td>

          <td class="ko-price">
            <div class="ui label"  ng-if="!product.$edit"> <a href="">{{product.promotionPrice}}</a> </div>
            <div ng-if="product.$edit" class="ui form"> <input type="number" ng-model="product.promotionPrice" /> </div>
          </td>

          <td class="ko-price">
            <div class="ui label" ng-if="!product.$edit" > <a href="">{{product.memberPrice}}</a> </div>
            <div ng-if="product.$edit" class="ui form"> <input type="number" ng-model="product.memberPrice" /> </div>
          </td>

          <td>
           <i class="ui mini button " ng-if="!product.$edit" ng-click="product.$edit = true"> <i class="edit icon" ></i> </i>
           <i class="ui mini button " ng-if="product.$edit" ng-click="product.$edit = false;inlineUpdate(product)"> <i class="save icon" ></i> </i>
         </td>
       </tr> <!-- TR -->
     </tbody> <!-- BODY -->
   </table> <!--TABLE -->
 </div>

 <script type="text/ng-template" id="custom/pager">

  <i ng-repeat="page in pages" ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}" ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
    <a class="mini ui button" ng-switch-when="prev" ng-click="params.page(page.number)"> Previous</a>
    <a class="mini ui button" ng-switch-when="next" ng-click="params.page(page.number)"> Next </a>
  </i>

  <div class="btn-group" ng-hide="true">
    <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
    <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
    <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
    <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
  </div>

</script>