	<div > 	<!-- COLUMNNNNNNNNNNNNNNNNNNNNNNNNNNNN -->
		<div class="ui form">
			<div class="ui two fields">

				<div class="field">
					<label>Product Name</label>
					<input type="text" placeholder="Name" class="ko-input" ng-model="currentProduct.name">
				</div>

				<div class="field">
					<label>Product ID</label>
					<input type="text" placeholder="ID" ng-model="currentProduct.productId">
				</div>
			</div>

			<div class="ui four fields">

				<div class="field">
					<label for="">$ Primary</label>
					<input class="ko-price" type="number" onkeyup="this.value=this.value.replace(/[^\d]/,'')" ng-model="currentProduct.primaryPrice"/>
				</div>

				<div class="field">
					<label for="">$ Promotion</label>
					<input class="ko-price" type="number" onkeyup="this.value=this.value.replace(/[^\d]/,'')" ng-model="currentProduct.promotionPrice">
				</div>

				<div class="field">
					<label for="">$ Member</label>
					<input class="ko-price" type="number" onkeyup="this.value=this.value.replace(/[^\d]/,'')" ng-model="currentProduct.memberPrice">
				</div>

				<div class="field">
					<label for="">Z Price</label>
					<input class="ko-price" type="number" onkeyup="this.value=this.value.replace(/[^\d]/,'')" ng-model="currentProduct.$price">
				</div>
			</div>

			<div class="field">
				<label>Description</label> 
				<textarea style="height:20px;" ng-model="currentProduct.description"></textarea>
			</div>

			<div class="field">  <!-- UPLOAD -->
				<label>Images</label>
				<div class="ui segment">
					<div class="mini ui button">
						<div class="fileupload">
							<i class="icon photo"></i>
							<span>Upload</span>
							<!-- <input name="filesToUpload[]" id="filesToUpload" type="file" multiple="" class="upload" /> -->
							<input type="file" ng-file-select="onFileSelect($files)" multiple class="upload">
						</div>
					</div> <!-- update -->

					<div class="field"></div>
					<div class="ui small images" style="display:inline-block">
						<img class="rounded ui image"  ng-repeat="x in pictures"  ng-src="{{x.$url}}" ng-show="pictures.length > 0">
					</div>
				</div>
			</div> <!-- UPLOAD -->
		</div>

		
		<div class="field"> <!-- SAVE / UPDATE -->
			<div class=" ui button mini" ng-click="save(currentProduct)" ng-show="valid()">
				<i class="cart icon"></i> 
				<span ng-if="true">Save</span>
				<span ng-if="currentCategory.identifier != null">Update</span>
			</div>
		</div> <!-- SAVE  -->
	</div> <!-- END COLUMNNNNNNNNNNNNNNNNNNNNNNNNNNNN -->