<div> <!-- COLUMNNNNNNNNNNNNNNNNNNNNNNNNNNNN -->
	<div class="ui form " >

		<div class="ui one fields" ng-show="false"d>
			<div class="field">
				<label>Color</label>
				<div class="ui labeled icon menu">
					<a class="blue item active">
						<i class="adjust icon"></i> Blue
					</a>

					<a class="green item active">
						<i class="adjust icon"></i> Green
					</a>
					<a class="item active" style="color:black">
						<i class="adjust icon"></i> Black
					</a>
					<a class="item active" style="color:gray">
						<i class="adjust icon"></i> White
					</a>
					<a class="item active" style="color:orange">
						<i class="adjust icon"></i> Orange
					</a>

					<a class="red item active">
						<i class="adjust icon"></i> Red
					</a>

				</div>
			</div>
		</div> <!-- color -->

		<div call="ui one fields" style="min-height:30%;" ng-class="{ 'animated fadeInUp' : true}"> <!-- CATEGORIES -->
			<div class="field ui segment">

				<label><i class="tags dollar icon"></i> Select Product Category </label>

				<div class="ui breadcrumb"> 

					<span ng-click="selectCategoryLevel('A')"> <!-- CAT A -->

						<a class="ui image label black"  ng-if="!selectedCategoryA.identifier" ng-class="{ green : selectedCategoryLevel == 'A'}">
							<img src="{{selectedCategoryA.$images[0].$thumbnail}}">
							Main Category
						</a>	

						<a class="ui image label"  ng-if="selectedCategoryA.identifier" ng-class="{ green : selectedCategoryLevel == 'A' , black : selectedCategoryLevel != 'A'}">
							<img src="{{selectedCategoryA.$images[0].$thumbnail}}">
							{{selectedCategoryA.title}}
						</a>	
					</span>

					
					<span ng-click="selectCategoryLevel('B')">  <!-- CAT B -->
						<i class="right arrow icon divider"></i>

						<a class="ui image label" ng-if="selectedCategoryB.identifier" ng-class="{ green : selectedCategoryLevel == 'B', black : selectedCategoryLevel != 'B'}">
							<img src="{{selectedCategoryB.$images[0].$thumbnail}}">
							{{selectedCategoryB.title}}
						</a>

						<a class="ui image label black" ng-if="!selectedCategoryB.identifier" ng-class="{ green : selectedCategoryLevel == 'B'}">
							<img src="{{selectedCategoryB.$images[0].$thumbnail}}">
							Sub Category
						</a>
					</span>

					<span ng-click="selectCategoryLevel('C')"> <!-- CAT C -->
						<i class="right arrow icon divider" ></i>

						<a class="ui image label" ng-if="selectedCategoryC.identifier" ng-class="{ green : selectedCategoryLevel == 'C' , black : selectedCategoryLevel != 'C'}">
							<img src="{{selectedCategoryC.$images[0].$thumbnail}}">
							{{selectedCategoryC.title}}
						</a>
						<a class="ui image label black" ng-if="!selectedCategoryC.identifier" ng-class="{ green : selectedCategoryLevel == 'C'}">
							<img src="{{selectedCategoryC.$images[0].$thumbnail}}">
							Category
						</a>						
					</span>

				</div>

				<div class="ui action input" ng-if="false">
					<div class="ui icon input">
						<input type="text" placeholder="Search...">
						<i class="search link icon"></i>
					</div>
				</div>	


				<div class="ui ko-category-a"  ng-if="selectedCategoryLevel == 'A'" ng-class="{ 'animated fadeIn' : true }">
					<div>
						<a class="ui image label" ng-repeat="category in categoriesA" ng-click="selectCategoryA(category)" ng-class="{ green : category.identifier == selectedCategoryA.identifier, black : category.identifier != selectedCategoryA.identifier}">
							<img src="{{category.$images[0].$thumbnail}}">
							{{category.title}}
						</a>	
					</div>
				</div>

				<div class="ui ko-category-b"  ng-if="selectedCategoryLevel == 'B'" ng-class="{ 'animated fadeIn' : true }">
					<div>
						<a class="ui image label" ng-repeat="category in categoriesB" ng-click="selectCategoryB(category)" ng-class="{ green : category.identifier == selectedCategoryB.identifier, black : category.identifier != selectedCategoryB.identifier}" ng-if="category.parentId == selectedCategoryA.identifier">
							<img src="{{category.$images[0].$thumbnail}}">
							{{category.title}}
						</a>	
					</div>
				</div>


				<div class="ui"  ng-if="selectedCategoryLevel == 'C'" ng-class="{ 'animated fadeIn' : true }">
					<a class="ui image label"  ng-repeat="category in categoriesC" ng-click="selectCategoryC(category)" ng-class="{ green : category == selectedCategoryC, black : category != selectedCategoryC}" ng-if="category.parentId == selectedCategoryB.identifier">
						<img src="{{category.$images[0].$thumbnail}}">
						{{category.title}}
					</a>						
				</div>

			</div> <!-- field -->
		</div> <!-- CATEGORIES -->


		<div style="">
			<div class="ui small message" >
				<i class="ui checkmark sign icon green" ng-if="selectedCategoryC.identifier"></i>
				Step <span class="ui circular label"> 1 </span> Select Product Category
			</div>
			<div class="ui small message">
				<i class="ui checkmark sign icon green" ng-if="currentProduct.name && currentProduct.productId && currentProduct.description"></i>

				Step <span class="ui circular label"> 2 </span> Enter Product Infomation
			</div>
			<div class="ui small message">
				<i class="ui checkmark sign icon green" ng-if="currentProduct.$images.length > 0"></i>

				Step <span class="ui circular label"> 3 </span> Upload Images
			</div>
		</div>


	</div> <!-- segment -->
</div>  <!-- END COLUMNNNNNNNNNNNNNNNNNNNNNNNNNNNN -->
