
<!-- IMAGE -->

<div class="ui two column grid">

	<div class=" column">
		<div class="ui ">
			<img class="rounded ui image huge" src="{{currentPicture.$url}}" style="width:100%">
		</div>
	</div>

	<div class=" column">
		<label>{{currentProduct.name}}</label>
		<div class="ui segment" >


			<div class="ui small images" style="display:inline-block">
				<a href=""  ng-repeat="x in currentProduct.$images"  ng-show="currentProduct.$images.length > 0"  ng-click="openPicture(x)">
					<img class="rounded ui image" ng-src="{{x.$url}}" >
				</a>
			</div>

			<div class="field" style="margin-bottom:10px;"></div>

			<div class="form field mini ui button">
				<div class="fileupload">
					<i class="icon cloud upload"></i>
					<span>Upload</span>
					<!-- <input name="filesToUpload[]" id="filesToUpload" type="file" multiple="" class="upload" /> -->
					<input type="file" ng-file-select="onFileSelect($files)" multiple class="upload" id="fileUploadButton">
				</div>
			</div> <!-- update -->

		</div>

		<div class="field">
			<div class=" ui button mini" ng-click="save(currentCategory)" ng-show="true">
				<i class="remove icon"></i> 
				<span ng-if="true">Remove</span>
				<span ng-if="currentCategory.identifier != null">Update</span>
			</div>
		</div>
	</div>
</div>
