body {
	background-color: white;
	font-family: droid_sansregular;
}

.m .input {
	padding: 0px 3px;
	background-color: green;
}


@font-face {
    font-family: 'bebas_neueregular';
    src: url('/venders/fonts/BebasNeue-webfont.eot');
    src: url('/venders/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/venders/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/venders/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/venders/fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'droid_sansregular';
    src: url('/venders/fonts/DroidSans-webfont.eot');
    src: url('/venders/fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/venders/fonts/DroidSans-webfont.woff') format('woff'),
         url('/venders/fonts/DroidSans-webfont.ttf') format('truetype'),
         url('/venders/fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'BEBAS___';
    src: url('/venders/fonts/BEBAS___-webfont.eot');
    src: url('/venders/fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/venders/fonts/BEBAS___-webfont.woff') format('woff'),
         url('/venders/fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('/venders/fonts/BEBAS___-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gooddogregular';
    src: url('/venders/fonts/GoodDog-webfont.eot');
    src: url('/venders/fonts/GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
         url('/venders/fonts/GoodDog-webfont.woff') format('woff'),
         url('/venders/fonts/GoodDog-webfont.ttf') format('truetype'),
         url('/venders/fonts/GoodDog-webfont.svg#gooddogregular') format('svg');
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'walkway_boldregular';
    src: url('/venders/fonts/Walkway_Bold-webfont.eot');
    src: url('/venders/fonts/Walkway_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/venders/fonts/Walkway_Bold-webfont.woff') format('woff'),
         url('/venders/fonts/Walkway_Bold-webfont.ttf') format('truetype'),
         url('/venders/fonts/Walkway_Bold-webfont.svg#walkway_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

label {
	font-family: BEBAS___ ;
	letter-spacing: .05em; 
	/*text-shadow: 1px 1px 2px lightgray;*/
}


.ko-input:focus {
	background-color: green;
}


.ko-checkbox {
	margin: 5px;
	float: left;

}

.ko-checkbox label {

	font-family: droid_sansregular;
	font-size: 100%;
	color: gray;
	/*font-weight: bolder;*/
	/*letter-spacing: 0.15em;*/
}

.ko-checkbox:hover {
	text-shadow: 1px 1px 5px gray;
}

.ko-tag {
    margin: 3px;
    text-decoration: none;
}
/*
.ko-tag span {
    font-family: droid_sansregular;
    text-decoration: none;
}

span {
     font-family: droid_sansregular;
     text-decoration: none;
}
*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


.fragmentWrapper {
    overflow: hidden;
}

.fragment {
    position: relative;
    -moz-transition-property: left;
    -o-transition-property: left;
    -webkit-transition-property: left;
    transition-property: left;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s
}

.fragment:not(.active) {
    left: 540px;
}

.fragment.active {
    left: 0px;
}

.button {
    margin: 3px;
}

