<div class="ui secondary pointing menu">
    <a class="item active">
        <i class="cart icon"></i> New Branch
    </a>
</div>

<div class="ui segment">
    <div class="ui form">
        <div class="ui four fields">
            <div class="field">
                <label>
                    <i class="ui tag icon"></i>
                    Name</label>
                <input type="text" placeholder="">
            </div>
            <div class="field">
                <label>
                    <i class="ui key icon"></i>
                    Branch ID
                </label>
                <input type="text" placeholder="">
            </div>
            <div class="field">
                <label>
                    <i class="ui sitemap icon"></i>
                    Province</label>
                <input type="text" placeholder="">
            </div>
            <div class="field">
                <label>
                    <i class="ui sitemap icon"></i>
                    District</label>
                <input type="text" placeholder="">
            </div>
        </div>

        <div class="ui two fields">
            <div class="ui divided grid field">
                <div class="row">
                    <div class="column field">
                        <label for="">
                            <i class="ui phone icon"></i>
                            Contact Phone</label>
                        <input type="text"/>
                    </div>
                </div>
                <div class="row">
                    <div class="column field">
                        <label for="">
                            <i class="ui tag icon"></i>
                            Description</label>
                        <textarea name="" cols="30" rows="0" style="height:10px"></textarea>
                    </div>
                </div>
            </div>

            <div class="field">
                <label for="">
                    <i class="ui tablet icon"></i>
                    Device ID</label>
                <input type="text"/>

                <div class="ui mini button" style="margin-top: 10px">
                    <i class="ui add icon"></i>Add
                </div>
                <div class="ui mini button" style="margin-top: 10px">
                    <i class="ui remove icon"></i>Remove
                </div>
                <div class="ui " style="min-height: 50"></div>
            </div>
        </div>
    </div>

    <br/>

    <div>
        <div class="ui mini button">
            <i class="ui save icon"></i> Save
        </div>
    </div>
</div>
