<div class="ui two column grid">
	<div class="column">

		<div class="ui fluid form segment">

			<div class="field">
				<label for="">Category Title 
				<span ng-show="currentCategory.identifier" class="ui red pointing left label"> EDIT: {{currentCategory.title}}</span>
				</label>
				<input type="text" class="type" ng-model="currentCategory.title">
			</div>

			<div class="field">
				<label for="">Description</label>
				<textarea style="font-size:14px;font-family:droid_sansregular" cols="30" rows="5" ng-model="currentCategory.description"></textarea>
			</div>

			<div class="field">
				<label for="">Parent</label>

				<div class="ui segment">
					<div class="ko-tag ui mini button disable " 
					ng-repeat="category in categories" 
					ng-class="{ 'active circular green' : currentCategory.parentId === category.identifier}"
					ng-hide="currentCategory.identifier === category.identifier"
					ng-click="setParent(category)">

					<i class=""></i> <span>{{$index+1}}. {{category.title}}</span>
				</div>
			</div>
		</div> <!-- parents -->
	</div>

	<div class="field">
		<div class=" ui button mini" ng-click="save(currentCategory)" ng-show="currentCategory.title">

			<i class="reorder icon"></i> 
			<span ng-if="currentCategory.identifier == null">Save</span>
			<span ng-if="currentCategory.identifier != null">Update</span>
		</div>

		<div class=" ui button mini" ng-click="cancel()" ng-hide="currentCategory.identifier == null">
			<i class="remove sign icon"></i> Cancel
		</div>
	</div>
</div> <!-- first column -->

<div class="column">
	<div class="ui fluid form segment">

		<div class="field">
			<label for="">All Category  
				<span  class="ui green left label">{{categories.length}}</span>
			</label>


			<div class="ui action input">
				<input type="text" placeholder="Filter" ng-model="categoryFilter">
				<div class="ui icon button"><i class="search icon"></i></div>
			</div>	

			<div class="ui segment">
				<div class="ko-tag ui mini  button"
				ng-repeat="category in categories | filter: categoryFilter" 
				ng-click="setEditCategory(category)"
				ng-class="{green : category.parentId !== null , circular : currentCategory.identifier === category.identifier , orange : category.parentId === null }">
				<i class="edit icon"></i> <span>{{$index+1}}. {{category.title}}</span>
			</div>
		</div>

		
		<div class="field">
			<label for="">Child</label>
			<div class="ui segment">
				
				
			</div>
		</div>

	</div> <!-- parents -->


</div>

</div> <!-- second column -->
</div> <!--grid-->

