<div class="ui raised segment" ng-if="init() || true">
	<!-- <div class="ui ribbon label red">Categories</div> -->

<!-- 	<a href="" ng-repeat="category in categories" style="text-decoration:none;" ng-click="selectCategory(category)"   >
		<span class="ui label ko-tag ko-thumbnail" data-content="{{category.description}}" ng-class="{ green : category.$selected }" ng-if="category.$level === 'C'">
			<i class="tags icon"></i> {{category.title}}  ({{category.$products.length}})

		</span>
	</a>  -->

	<div>

		<div class="ui left floated small image rounded" ng-repeat="category in categories" ng-click="selectCategory(category)" >
			<a class="ui right corner label" ng-class="{ green : category.$selected }"> 
				<div class="text"> {{category.$products.length}} </div> 
			</a>
			<a href="">
				<img src="{{category.$images[0].$thumbnail}}">
				
			</a>
			{{category.title.substring(0,10)}}
		</div>

	</div>


	<div class="field"><br></div>
	<a class="mini ui right labeled icon label black" href="#/category" style="text-decoration:none;" ng-if="false">
		<i class="right tags icon " ></i>
		Manage Category
	</a>
</div>


<div class="ui column grid">
	<div class="six wide column">

		<div class="ui icon input" style="width:100%">
			<input type="text" placeholder="Search product..." ng-model="productFilter">
			<i class="search link icon"></i>
		</div>


		<div class="ui raised segment">

<!-- 			<a href="" ng-repeat="product in products | filter:complexProductFilter" style="text-decoration:none;" ng-click="selectProduct(product)">
				<span class="ui label ko-tag ko-thumbnail-x" data-content="{{product.description}}" ng-class="{ green : currentProduct.identifier == product.identifier}">
					<span class="" style="padding:0px;">{{$index + 1}}</span>
					<i class="cart icon"></i> {{product.name}}
				</span>
			</a> -->

			<div class="ui left floated small image rounded" ng-repeat="product in products | filter:complexProductFilter" style="text-decoration:none;" ng-click="selectProduct(product)">
				<a class="ui right corner label green" ng-if="currentProduct.identifier == product.identifier">
					<i class="cart icon"></i>
				</a>
				<a href=""><img src="{{product.$images[0].$thumbnail}}"></a>
				<a class="ui bottom attached" ng-class="{ green : currentProduct.identifier == product.identifier}"> 
					<div class="text">{{product.name.substring(0,10)}}</div> 
				</a>
			</div> 	

			<div class="field"><br></div>
			<!-- <div class="ui ribbon label green">Products</div> -->
			<a class="mini ui right labeled icon label black" href="#/product" style="text-decoration:none;" ng-if="false">
				<i class=" cart icon "></i>
				Manage Product ({{products.length}})
			</a>
		</div>
	</div>


	<div class="ten wide column" ng-if="true">

		<div class="ui segment raised" ng-if="currentProduct.name != null">
			<div class="ui two column grid">
				<div class="column ">

					<div > 

						<div class="ui ribbon label black">
							<i class=" cart icon "></i>
							{{currentProduct.name}}</div>
							<p class="" style="color:gray;font-size:small">{{currentProduct.description}}</p>
						</div>

						<div class="ui mini compact menu">
							<a class="item">
								<i class="icon bookmark"></i> {{currentProduct.brand}}
								<!-- <div class="floating ui red label">22</div> -->
							</a>
							<a class="item">
								<i class="icon empty bookmark"></i> {{currentProduct.model}}
								<!-- <div class="floating ui teal label">22</div> -->
							</a>
						</div>

						<div class="ui divided selection list">
							<a class="item">
								<div class="ui red horizontal label">Price</div>

								{{currentProduct.primaryPrice.formatMoney(2, '.', ',')}} 
								<span style="color:gray;font-size:small"><i class="ui dollar icon"></i></span>
							</a>

							<a class="item">
								<div class="ui green horizontal label">Member</div>
								{{currentProduct.memberPrice.formatMoney(2, '.', ',')}} 
								<span style="color:gray;font-size:small"><i class="ui dollar icon"></i></span>
							</a>
							<a class="item">
								<div class="ui purple horizontal label">Promation</div>
								{{currentProduct.promotionPrice.formatMoney(2, '.', ',')}} 
								<span style="color:gray;font-size:small"><i class="ui dollar icon"></i></span>
							</a>
						</div>

						<br>
						<br>
						<br>
						<br><br>

						<!-- <span class="ui label"><i class="ui small icon photo black"> {{currentProduct.$images.length}}</span></i> -->
						<span ng-repeat = "img in currentProduct.$images">
							<a class="ui mini label inverted circular" ng-click="changeImageIndex($index)" ng-class="{ black : currentImageIndex == currentProduct.$images.indexOf(img)}">
								<i class="ui photo icon"></i>
							</a></span>

						</div>

						<div class="column">
							<div class="ui segment raised">
								<!-- <div class="ui below label green"><i class="bookmark icon"></i>{{img.title}}</div> -->

								<div class="ui large rounded images" >
									<a href=""  data-content="{{currentProduct.$images[currentImageIndex].title}}" > 
										<img src="{{currentProduct.$images[currentImageIndex].$url}}"/> 
									</a>
								</div>
								<div class="ui top label"><i class="bookmark icon"></i>{{currentProduct.$images[currentImageIndex].description}}</div>
							</div>
						</div>

					</div>
				</div> <!-- segment -->
			</div> <!-- column -->
		</div> <!-- grid -->

		<br>
		<br>
		<br>
		<br>
		<br>
